@import url('https//fonts.googleapis.com/css?family=Open+Sans400,300,400italic,700,700italic,600')
@import 'vars.styl'

body, html, p, span, h1, h2, h3, h4, h5, a
	margin 0
	padding 0
	color #fff

a
	text-decoration none

html, body
	font-family 'Open Sans', sans-serif
	background: #43cea2; /* fallback for old browsers */
	background: -webkit-linear-gradient(to top, #43cea2 , #185a9d); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to top, #43cea2 , #185a9d); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	// background-image url('/images/bg.png')
	// background-size cover
	// background-attachment fixed

body
	min-height 100vh

section
	max-width max-width
	margin auto
	padding 30px 0

ul li, ul
	list-style none
	padding 0
	margin 0
main > p
	display none

object
	display none
	
// modifiers
.m-margin
	margin-top 130px

.m-full
	max-width 100%
	padding 0
	
.m-centered
	text-align center