@import 'vars.styl'
@import 'mixins.styl'

.c-card
	background-color #fff
	border-radius 3px
	transition all .3s ease-in-out
	cursor pointer
	shadow(1)
	&:hover
		shadow(3)		
	&__image
		border-radius 3px 3px 0 0
		width 100%
	&__info
		padding 20px
	&__name, &__sponsors
		color #212121
	&__name
		font-size 20px
		line-height 48px
		font-weight 600
	&__sponsors
		font-size 15px
		margin 15px 0