@import 'vars.styl'
@import 'mixins.styl'

.c-form
	width 400px
	margin auto
	text-align left
	&__header, &__body, &__footer
		background-color snow
		box-sizing border-box
		padding 15px
		margin-top 12px
		border-radius 5px
		shadow(3)
	&__title, &__desc
		color dimgray
		font-weight 400
		font-size 14pt
		line-height 16pt
		margin 5px 0
		text-align center
	&__desc
		font-size 12pt
		font-weight 200
	&__header
		padding 10px 15px 15px
		margin-top 0
	&__footer
		padding-bottom 10px
	&__group
		margin-bottom 20px
		text-align center
	&__label
		display block
		color dimgray
		padding-top 28px
		text-align center
	&__input
		width 100%
		box-sizing border-box
	&__button
		width calc(100% - 12px)
		margin auto
		font-size 14px
		color #FFF
		background-color #12B830
		border-radius 3px
		-webkit-border-radius 3px
		padding 9px 22px
		margin 1px 6px
		cursor pointer
		border 1px solid #02a41c
		font-family arial, sans-serif
		letter-spacing 0.3px
		&--value
			padding 8px 12px
			border 0
			cursor pointer
			margin 6px
			border-radius 3px
			outline 0
			transition all .3s ease-in-out
			shadow(1)
			&:hover
				shadow(2)
			&.is-active
				background-color #1A7AEB
				color #fff
