@import 'vars.styl'
@import 'mixins.styl'

.c-header
	margin auto
	position fixed
	top 0
	left 0
	right 0
	padding 18px 42px
	transition all .3s ease-in-out
	z-index 5
	&--simple
		position relative
		padding 18px 42px
	&.is-fixed
		padding 12px 42px
		background-color #000
		shadow(2)
	&__brand
		font-size 32px
		line-height 46px
		max-width max-width
		margin auto
	&__login
		position absolute
		top 0
		bottom 0
		right 42px
		margin auto
		height 46px
		text-align center
