@import 'vars.styl'
@import 'mixins.styl'

.c-hero
	height 100vh
	width 100%;
	background-image url('/images/bg.png')
	background-size cover
	background-repeat no-repeat
	background-attachment fixed
	z-index 0
	box-sizing border-box
	position relative
	&__mask
		position absolute
		top 0
		bottom 0
		right 0
		left 0
		background-color dark-transp
		z-index -1
	&__desc
		position absolute
		width 90%
		max-width max-width
		top 0
		bottom 0
		left 0
		right 0
		text-align center
		margin auto
		display table
		font-size 32px
		line-height 64px
		font-weight bold
		text-transform uppercase
