@import 'vars.styl'
@import 'mixins.styl'

.c-modal
	&__mask
		position fixed
		top 0
		bottom 0
		right 0
		left 0
		background-color dark-transp
	&__container
		position fixed
		top 0
		bottom 0
		right 0
		left 0
		width 50vw
		height 426px
		margin auto
		background-color #fff
		font-size 0
		border-radius 3px
		shadow(5)
	&__card, &__content
		display inline-block
		vertical-align top
	&__card
		width 30%
	&__content
		width 70%
		padding 30px
		box-sizing border-box
	&__title
		font-size 26px
		line-height 46px
		text-transform uppercase
		color #333
	&__group
		margin 10px 0
	&__label, &__value
		display inline-block
		vertical-align top
		font-size 18px
	&__label
		color #333
		font-weight 600
		width 30%
		&--large
			font-size 26px
			line-height 46px
			text-transform uppercase
			font-weight bold
			margin-bottom 20px
			display block
	&__value
		color dark-transp
		padding-left 8px
		box-sizing border-box
		width 70%		
	&__bottom
		border-top 1px dashed dark-transp
		margin-top 30px
		padding-top 20px
		margin-bottom 20px
	&__range, &__indicator
		display inline-block
		vertical-align middle
		line-height 32px
		box-sizing border-box
	&__range
		width calc(100% - 100px)
		margin 0
		margin-right 20px
	&__indicator
		width 80px
		height 32px
		color #333
		font-size 20px
		border 1px solid dark-transp--soft
		text-align center
	&__button
		width 96%
		font-size 14px
		color #FFF
		background-color #12B830
		border-radius 3px
		-webkit-border-radius 3px
		padding 9px 22px
		margin 1px 6px
		cursor pointer
		border 1px solid #02a41c
		font-family arial, sans-serif
		letter-spacing 0.3px