.c-profile
	margin-bottom 60px
	&__avatar, &__info
		display inline-block
		vertical-align top
		height 104px
	&__avatar
		border-radius 50%
		margin-right 20px
		overflow hidden
		width 104px
		img
			width 100%
	&__info
		font-size 20px
		padding 18px 0
		box-sizing border-box
	&__name
		font-weight 600