@import 'vars.styl'
@import 'mixins.styl'

.login-button
	cursor pointer
	background-color fb-blue
	height 46px
	border-radius 100px
	line-height 46px
	font-size 16px
	font-weight 600
	margin 20px auto
	transition box-shadow .3s ease
	padding 0 20px 0 46px
	position relative
	display inline-block
	shadow(1)
	&:hover
		shadow(2)
	&:before
		content ''
		position absolute
		top 0
		bottom 0
		left 20px
		margin auto
		height 18px
		width 18px
		background-image url('/icons/fb.png')
		background-size contain
.login-display-name
	display none
.login-text-and-button
	text-align center
